@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/* common */
body{
    background: #e9ebee;
    font-family: 'Arvo', serif;
}
.author-img{
    width: 40px;
    border-radius: 50%;
}
.wide{
    border-radius: 50%;
}
.date{
    font-size: 13px;
    
}


